@charset "UTF-8";

/* 외부폰트가져오기 */
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{font-family: SDSamliphopangche_Basic;}
.header_logo{
	font-size: 2rem;
}
.header_menu {
	margin-left : 20px;
	color:gray;
	
}
.carousel img{width : 100%;}
.listbaby a {
	color : #212529;
}
#total {
	font-weight: bold;
	font-size: 1rem;
}
