@charset "UTF-8";

/* 외부폰트가져오기 */
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{font-family: SDSamliphopangche_Basic;}
.header_logo{
	font-size: 2rem;
}
.header_menu {
	margin-left : 20px;
	color:gray;
	
}
.carousel img{width : 100%;}
.listbaby a {
	color : #212529;
}
#total {
	font-weight: bold;
	font-size: 1rem;
}
.pview {
	font-size : 1rem;
	
}
#msgbox{
	height : 500px;
	background-color: #B2C7D9;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: auto;	/* 박스 크기보다 내용물이 넘쳤을때 스크롤 만들기 */
}
/* 스크롤바 표시 숨기기 */
#msgbox::-webkit-scrollbar{
	display: none;
}
.frommsg{
	background-color: #FFEB33;
	border-radius: 5px;
	padding: 4px 8px 4px 8px;
	margin: 5px;
}
.msgtime{
	font-size: 0.9rem;
}
.tomsg{
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 4px 8px 4px 8px;
	margin: 5px;
}
#mlist{
	height : 350px;
	background-color: #E7E7E8;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: auto;	/* 박스 크기보다 내용물이 넘쳤을때 스크롤 만들기 */
}
.profile {
	font-size: 1rem;
	margin: 3px; 
}